* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none; 
}

body {
    font-family: $font-family;
    line-height: 1.4;
}

h1, h2, h3{
    line-height: 1.2;
}

.container {
    max-width: $max-width;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding-left: $gutter;
    padding-right: $gutter;
    overflow: hidden;
}

a {
    color: inherit;
}

.button,
.text,
.select {
    font-family: inherit;
    border: 0;
    font-weight: bold;
    border-radius: $border-radius;
    background-color: #fff;
}

.button {
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: $finger-size;
    color: #fff;
    background-color: $color-navy;
    justify-content: center;
    align-items: center;
}

.header-menu-property{
    background-color: $color-blue
}

.text {
    min-height: $finger-size;
    color: $color-navy;
    width: 100%;
    box-sizing: border-box;

    &::placeholder {
        color: $color-navy;
    }
}

.select {
    display: inline-block;
    width: 100%;
    height: $finger-size;
}

.form-item {
    position: relative;

    .icon {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: $color-navy;
        pointer-events: none;
    }

    .text {
        padding-left: 40px;
    }

    .date-text {
        &::-webkit-calendar-picker-indicator {
            opacity: 0;
            width: 235px;
            height: 25px;
            margin-right: 50px;
            position: absolute;
            left: -25px;
            padding-top: 15px;   
        }
    }

    .select {
        padding-left: 40px;
    }

    .button {
        width: 100%;
    }
}

.form-description {
    font-size: 12px;
    
    @include mq ("tablet"){
        margin-top: 10px;
        font-size: 13px;
    }
}

.form-checkbox {
    display: flex;
    align-items: center;

    .form-box {
        position: relative;
        margin-left: 5px;
        margin-top: 3px;

        input {
            appearance: none;
            width: 15px;
            height: 15px;
            background-color: transparent;
            border: 2px solid #fff;
            outline: none;
        }

        .icon {
            opacity: 0;
            position: absolute;
            left: 55%;
            top: 35%;
            transform: translate(-50%, -50%);
            font-size: 11px;
        }

        input:checked+.icon {
            opacity: 1;
        }
    }
}


